html,body
  height: 100%
  width: 100%
  background-color: #F5F5F5

.clearfix::before,
.clearfix::after
  content: ""
  display: block
  height: 0
  line-height: 0px
  clear: both
  visibility: hidden


.shoplist-title::before,
.shoplist-title::after
  content: ""
  display: block
  width: 0.34rem
  height: 0.02rem
  background: #999
  box-sizing: inherit

.shoplist-title:before
  margin-right: 0.2rem

.shoplist-title:after
  margin-left: 0.2rem

