ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
sc($size,$color)
  font-size: $size
  color: $color
wh($width,$height)
  width: $width
  height: $height
@keyframes loading {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

